.head-container{
    margin: 20px 70px;
}
.head-container img {
    margin-bottom: 10px;
}
@media screen and (max-width: 700px) {
    .head-container{
        margin: 10px -17px;
    }
    .head-container p {
        width: 380px;
    }
}